.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  width: 15rem;
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
}

.content {
  flex: 1;
  height: 100%;
  overflow: auto;
}
